<div id="product-card" class="product-card grid-container">
    <a href="/posts/{{this.id}}">
        <img src="/{{this.thumbnail}}">
    </a>
    <p class="video-username">{{this.username}}</p>
    <p class="video-date">{{this.createdAt}}</p>
    <p class="video-title">{{this.title}}</p>
    <p class="video-description">{{this.description}}</p>
</div>
